# ignore 
# ** matches anything
# ignore folder name: private

# ignore .bak files
*.bak
BookSourceCode/Chapter8/8.4.NormalMapsAndIlluminationShaders/nbproject/private/private.xml
AdditionalMaterials/2018.3.EngineWithRigidPhysics/nbproject/private/private.xml
BookSourceCode/Chapter10/10.3.LayerManager/nbproject/private/private.xml
BookSourceCode/Chapter2/2.4.JavaScriptObjects/nbproject/private/private.xml
BookSourceCode/Chapter8/8.4.NormalMapsAndIlluminationShaders/nbproject/private/private.xml
/V2-EngineWithPhysics+Particles/DemoWithPhysics+Particle/nbproject/private/
/V2-EngineWithPhysics+Particles/V2-Tutorials/TutorialForParticles/Fire Tutorial/FireDemo/nbproject/private/
/V2-EngineWithPhysics+Particles/V2-Tutorials/TutorialForRigidShape/RigidShapeDemo/nbproject/private/