# ignore 
# ** matches anything
# ignore folder name: private

# ignore .bak files
*.bak
private.xml
BookSourceCode/Chapter8/8.4.NormalMapsAndIlluminationShaders/nbproject/private/private.xml
AdditionalMaterials/2018.3.EngineWithRigidPhysics/nbproject/private/private.xml
BookSourceCode/Chapter10/10.3.LayerManager/nbproject/private/private.xml
BookSourceCode/Chapter2/2.4.JavaScriptObjects/nbproject/private/private.xml
BookSourceCode/Chapter8/8.4.NormalMapsAndIlluminationShaders/nbproject/private/private.xml
/V2-EngineWithPhysics+Particles/DemoWithPhysics+Particle/nbproject/private/
/V2-EngineWithPhysics+Particles/V2-Tutorials/TutorialForParticles/Fire Tutorial/FireDemo/nbproject/private/
/V2-EngineWithPhysics+Particles/V2-Tutorials/TutorialForRigidShape/RigidShapeDemo/nbproject/private/
/V2-EngineWithPhysics+Particles/FinalDemo - Copy/nbproject/private/
/V2-EngineWithPhysics+Particles/FemoWithPhysics+Particle/nbproject/private/
/V2-EngineWithPhysics+Particles/t/nbproject/private/
BookSourceCode/Chapter2/2.5.ShaderSourceFiles/nbproject/private/private.xml
AdditionalMaterials/BookPPTs/~$Chap5.pptx
BookSourceCode/Chapter4/4.3.ResourceMapAndShaderLoader/nbproject/private/private.xml
BookSourceCode/Chapter4/4.6.AudioSupport/nbproject/private/private.xml
BookSourceCode/Chapter2/2.6.ParameterizedFragmentShader/nbproject/private/private.xml
BookSourceCode/Chapter4/4.6.AudioSupport/nbproject/private/private.xml
BookSourceCode/Chapter4/4.6.AudioSupport/nbproject/private/private.xml
/V3-Engine/TutorialForParticles/FireDemo/nbproject/private/
/V3-Engine/TutorialForParticles/SmokeDemo/nbproject/private/
/V3-Engine/TutorialForParticles/SnowDemo/nbproject/private/ 