/* 
    Support the loading icon's look 
*/
p {
    color: white;
    font: 300 4em/150% Impact;
    position: absolute;
    z-index: 1;
}

.LoadingDotsAnimation {
    font-size: 40px;
}

.LoadingDotsAnimation span {
    font-size: 50px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.LoadingDotsAnimation span:nth-child(2) {
    animation-delay: .2s;
}

.LoadingDotsAnimation span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}
.LoadingSpinnerAnimation {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 1;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } }

#LoadingScreenProgress {
    width: 100%;
    height: 100%;

    background-image:url(assets/pictures/loading.png);
    position: absolute;
    z-index: 2;
}
#LoadingScreenBar {
    width: 0%;
    height: 30px;

    position: absolute;
    font-size: 30px;
    z-index: 3;
}

#LoadingSpinner {
    top:calc(50% - 80px);
    left:calc(50% - 70px);
}

#LoadingDots {
    top:calc(50% + 20px);
    left:calc(50% - 65px);
}

#GLCanvas{
    position: absolute;
    z-index: 0;
}

#LoadingIconParent{
    position: relative;
    top: 0px;
    left: 0px;
}