/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2015, 3:15:04 PM
    Author     : mael
*/

p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

/*
  Borrowed the table CSS from http://www.textfixer.com/tutorials/css-tables.php
*/
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
        margin-left: auto; 
        margin-right: auto;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
